<!doctype html>
<html ng-app>
<head>
    <title>Iterating Over Data</title>
</head>
<body> 
	<div ng-init="people=[{name:'John', city:'Chandler'}, {name:'Bill', city:'Tulsa'}, {name:'Al', city:'Chicago'}]">

		<h3>Iterating through data with ng-repeat</h3>
		<ul>
			<li ng-repeat="person in people">{{ person.name + ' ' + person.city }} </li>
		</ul>

		<table>
			<tr>
				<td>Name</td>
				<td>City</td>
			</tr>
			<tr ng-repeat="person in people">
				<td>{{ person.name }} </td>
				<td>{{ person.city }} </td>

	</div>
</body>
    <script src="angular.js"></script>
</html>
