<!doctype html>
<html data-ng-app>
<head>
    <title>Using Directives</title>
</head>


<!-- JER -->

<body ng-init="name='Jeremy'">
    <div ng-cloak ng-hide="isHidden">
        Name: <input type="text" ng-model="name" /> {{ name }} 
    </div>
    Hide: <input type="checkbox" ng-model="isHidden"/>
    <br />
    <button ng-click="name='Bob'">Change Name</button>
    <script src="angular.js"></script>
</body>
</html>
