/*

#ingredientsRowNormal {
    display: none;
}

#ingredientsRowHalf {
    display: none;
}

#ingredientsRowDouble {
    display: none;
}

#preparationRowNormal {
    display: none;
}

#preparationRowHalf {
    display: none;
}

#preparationRowDouble {
    display: none;
}

body {
	background-color: #D9994A;
    padding-top: 70px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. 
}

footer {
    margin: 50px 0;
}

h1, h2, h3 	{
	font-family: 'Oswald', sans-serif;
}

p 	{
	font-family: 'Droid Serif', serif;
	font-size: 18px;
}

ul 	{
	font-family: 'Droid Serif', serif;
	font-size: 18px;
}

.batchDiv	{
	padding-top: 40px;
	font-size: 25px;
}

.navTitleJer {
	font-size: 32px;
}

.imgBorder   {
            border-style: inset;
            border-color: #250000;   
        }

.portfolio-item {
    margin-bottom: 25px;
}
*/